In [5]:
import numpy as np
import pandas as pd
import os
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
df = pd.read_csv("data_redun_shuff.csv")
df.head()

    Temp    Humd  Label
0   23.0    30.0      1
1   23.0    43.0      1
2   25.0    87.0      1
3   24.0    57.0      1
4  596.0  1073.0      0

In [7]:
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Temp     0
Humd     0
Label    0
dtype: int64

In [8]:
df.drop_duplicates()

       Temp    Humd  Label
0      23.0    30.0      1
1      23.0    43.0      1
2      25.0    87.0      1
3      24.0    57.0      1
4     596.0  1073.0      0
...     ...     ...    ...
1188  564.0  1069.0      0
1191  474.0   979.0      0
1193   25.0    90.0      1
1196  308.0  1084.0      0
1198  529.0   968.0      0

[308 rows x 3 columns]